.tableHead tr th {
  background-color: #a0c7ff;
  font-family: 'Kdam Thmor Pro', sans-serif;
  border-right: 1px solid #dbdbdb;
}

.tableCell {
  color: #0000a8 !important;
}

.tableCellInfo {
  font-weight: bold !important;
}

.tableBody tr td {
  font-family: 'Kdam Thmor Pro', sans-serif;
  border-right: 1px solid #dbdbdb;
}
